body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
    overflow-y: scroll;
    height: 100%;
    font-family: "Segoe UI";
    background: #eee;
    -ms-overflow-style: none;
}

icon {
    font-family: "Segoe MDL2 Assets";
    display: inline-block;
    font-size: inherit;
    color: inherit;
    line-height: normal;
    vertical-align: middle;
    padding: 2px;
}

.pointer-mouse {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: #209488;
    height: 48px;
    width: 100%;
    z-index: 5;
}

.--fluent header {
    background: -moz-linear-gradient(top, rgba(32,148,136,1) 0%, rgba(32,148,136,1) 16%, rgba(32,148,136,0.7) 72%, rgba(32,148,136,0.7) 99%);
    background: -webkit-linear-gradient(top, rgba(32,148,136,1) 0%,rgba(32,148,136,1) 16%,rgba(32,148,136,0.7) 72%,rgba(32,148,136,0.7) 99%);
    background: linear-gradient(to bottom, rgba(32,148,136,1) 0%,rgba(32,148,136,1) 16%,rgba(32,148,136,0.7) 72%,rgba(32,148,136,0.7) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#209488', endColorstr='#b3209488',GradientType=0 );
    -webkit-backdrop-filter: blur(20px);
}

#header_content {
    position: relative;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu-control {
    color: white;
    font-size: 18px;
    padding: 15px;
}

#menu-control:hover {
    background: rgba(255,255,255,.1);
}

#menu-control:active {
    background: rgba(255,255,255,.15);
}

#app-title {
    font-weight: 600;
    font-size: 17px;
    color: white;
}

#main {
    max-width: 1000px;
    margin: auto;
    margin-top: 48px;
}

.cards-container.list-cards {
    padding: 4px;
}

.list-cards .card {
    padding: 10px;
    background: white;
}

.list-cards .card:hover {
    background: #f7f7f7;
}

.list-cards .card:active {
    background: #f0f0f0;
}

.card .dialog-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card .dialog-content .dialog-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.card .dialog-content .info-1 {
        width: calc(100% - 100px);
    }

.card .dialog-content .info-1, .card .dialog-content .info-2 {
    display: flex;
    flex-direction: column;
}

.card .dialog-content .info-1 .name {
    line-height: 20px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .dialog-content .info-1 .message {
        line-height: 20px;
        color: grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.card .dialog-content .info-2 {
    text-align: right;
    margin-left: auto;
}

.card .dialog-content .info-2 .time {
    line-height: 20px;
    color: grey;
    font-size: 13px;
}

.card .dialog-content .info-2 .status {
    line-height: 20px;
}

.unread-bulb {
    display: inline-block;
    padding: 0 5px 0 5px;
    background: #209488;
    border-radius: 2em;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle;
    min-width: 7px;
    min-height: 7px;
}

.unread-bulb:empty {
    padding: 0;
}

#sidebar {
    background: rgb(16, 71, 65);
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    color: white;
    overflow-y: hidden;
    -ms-overflow-style: none;
    transform: translateX(-100%);
    transition: width .15s, transform .15s;
}

.--fluent #sidebar {
    background: rgba(16, 71, 65, 0.80);
    -webkit-backdrop-filter: blur(20px);
}

#sidebar.opened {
    transform: translateX(0);
}

#sb-scroll {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

#sidebar-header-margin {
    width: 100%;
    height: 49px;
}

#sidebar .sidebar-e {
    white-space: nowrap;
    position: relative;
}

#sidebar .sidebar-e:hover {
    background: rgba(255,255,255,.1);
}

#sidebar .sidebar-e:active {
    background: rgba(255,255,255,.15);
}

#sidebar .sidebar-e.selected::before {
    content: " ";
    position: absolute;
    display: block;
    height: 50%;
    width: 4px;
    background: #FFFFFF;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#sidebar .sidebar-e icon {
    font-size: 18px;
    padding: 15px;
    display: inline-block;
}

#sidebar .sidebar-e  .sb-e-text {
    display: inline-block;
}

#header-right-panel {
    margin-left: auto;
}

#header-right-panel icon {
    color: white;
    font-size: 18px;
    padding: 15px;
}

#header-right-panel icon:hover {
    background: rgba(255,255,255,.1);
}

#header-right-panel icon:active {
    background: rgba(255,255,255,.15);
}

#splash-screen-custom {
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    width: 100%;
    background: #209488;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    transition: opacity .2s;
}

#custom-splash-screen-subtext {
    display: block;
    margin: 10px;
    line-height: normal;
    opacity: 1;
    margin-bottom: 0;
    transition: all .2s;
}

#custom-splash-screen-subtext:empty {
    line-height: 0;
    opacity: 0;
    margin-bottom: -20px;
}

.win-ring {
    color: #209488;
}

#splash-screen-custom .win-ring {
    color: white;
    width: 40px;
    height: 40px;
}

.win-ring:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

.button {
    border-radius: 0;
    border: 0;
    background: #CCC;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    transition: transform .1s;
    padding: 8px 16px;
    margin: 4px;
}

.button:hover {
    border: 2px solid #999 !important;
    padding: 6px 14px
}

.button:active {
    background: #999;
    transform: scale(.95)
}