body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
    background: #eee;
}

icon {
    font-family: "Segoe MDL2 Assets";
    display: inline-block;
    font-size: inherit;
    color: inherit;
    line-height: normal;
    vertical-align: middle;
    padding: 2px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: #34BFB0;
    height: 60px;
}

#header_content {
    position: relative;
}
